@using CinemaBookingTask.Models

@{
    var availableMovies = ViewBag.AvailableMovies as List<Movie>;
    var comingSoonMovies = ViewBag.ComingSoonMovies as List<Movie>;
}
 
<section class="section-text-white position-relative">
    <div class="d-background bg-theme-blacked"></div>
    <div class="mt-auto container position-relative">
        <div class="top-block-head text-uppercase">
            <h2 class="display-4">
                Now
                <span class="text-theme">in cinema</span>
            </h2>
        </div>
        <div class="top-block-footer">
            <div class="slick-spaced slick-carousel" data-slick-view="navigation responsive-4">
                <div class="slick-slides">
                    @foreach (var movie in availableMovies)
                    {
                        <div class="slick-slide">
                            <article class="poster-entity" data-role="hover-wrap">
                                <div class="embed-responsive embed-responsive-poster">
                                    @if (movie.MainImg != null)
                                    {
                                        <img class="embed-responsive-item"
                                             src="/images/movies/@movie.MainImg" alt="@movie.Name" />
                                    }
                                    else
                                    {
                                        <img class="embed-responsive-item"
                                             src="http://via.placeholder.com/340x510" alt="@movie.Name" />
                                    }
                                </div>
                                <div class="d-background bg-theme-lighted collapse animated faster"
                                     data-show-class="fadeIn show" data-hide-class="fadeOut show"></div>
                                <div class="d-over bg-highlight-bottom">
                                    <h4 class="entity-title">
                                        <a class="content-link" href="#">@movie.Name</a>
                                    </h4>
                                    <div class="entity-category">
                                        <a class="content-link" href="#">@movie.Category.Name</a>
                                    </div>
                                    <div class="entity-info">
                                        <div class="info-lines">
                                            <div class="info info-short">
                                                <span class="text-theme info-icon">
                                                    <i class="fas fa-ticket-alt"></i>
                                                </span>
                                                <span class="info-text">$@movie.Price</span>
                                            </div>
                                            <div class="info info-short">
                                                <span class="text-theme info-icon">
                                                    <i class="fas fa-calendar-alt"></i>
                                                </span>
                                                <span class="info-text">@movie.DateTime.ToString("dd MMM")</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    }
                </div>
                <div class="slick-arrows">
                    <div class="slick-arrow-prev">
                        <span class="th-dots th-arrow-left th-dots-animated">
                            <span></span><span></span><span></span>
                        </span>
                    </div>
                    <div class="slick-arrow-next">
                        <span class="th-dots th-arrow-right th-dots-animated">
                            <span></span><span></span><span></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 <section class="section-long">
    <div class="container">
        <div class="section-head">
            <h2 class="section-title text-uppercase">Now in play</h2>
        </div>

        @foreach (var movie in availableMovies)
        {
            <article class="movie-line-entity">
                <div class="entity-poster" data-role="hover-wrap">
                    <div class="embed-responsive embed-responsive-poster">
                        @if (movie.MainImg != null)
                        {
                            <img class="embed-responsive-item"
                                 src="/images/movies/@movie.MainImg" alt="@movie.Name" />
                        }
                        else
                        {
                            <img class="embed-responsive-item"
                                 src="http://via.placeholder.com/340x510" alt="@movie.Name" />
                        }
                    </div>
                </div>
                <div class="entity-content">
                    <h4 class="entity-title">
                        <a class="content-link" href="#">@movie.Name</a>
                    </h4>
                    <div class="entity-category">
                        <a class="content-link" href="#">@movie.Category.Name</a>
                        @if (movie.Cinema != null)
                        {
                            <span> - @movie.Cinema.Name</span>
                        }
                    </div>
                    <div class="entity-info">
                        <div class="info-lines">
                            <div class="info info-short">
                                <span class="text-theme info-icon"><i class="fas fa-ticket-alt"></i></span>
                                <span class="info-text">$@movie.Price</span>
                            </div>
                            <div class="info info-short">
                                <span class="text-theme info-icon"><i class="fas fa-calendar-alt"></i></span>
                                <span class="info-text">@movie.DateTime.ToString("dd MMM yyyy")</span>
                            </div>
                        </div>
                    </div>
                    <p class="text-short entity-text">@movie.Description</p>
                </div>
                @* <div class="entity-extra">
                    <div class="text-uppercase entity-extra-title">Status</div>
                    <div class="entity-showtime">
                        <div class="showtime-wrap">
                            <div class="showtime-item">
                                <span class="btn-time btn">@movie.Status</span>
                            </div>
                        </div>
                    </div>
                </div> *@
            </article>
        }
    </div>
</section>

 @if (comingSoonMovies.Any())
{
    <section class="section-solid-long section-text-white position-relative">
        <div class="d-background bg-gradient-black"></div>
        <div class="container position-relative">
            <div class="section-head">
                <h2 class="section-title text-uppercase">Coming Soon</h2>
            </div>
            <div class="slick-spaced slick-carousel" data-slick-view="navigation single">
                <div class="slick-slides">
                    @foreach (var movie in comingSoonMovies)
                    {
                        <div class="slick-slide">
                            <article class="movie-line-entity">
                                <div class="entity-preview">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        @if (movie.MainImg != null)
                                        {
                                            <img class="embed-responsive-item"
                                                 src="/images/movies/@movie.MainImg" alt="@movie.Name" />
                                        }
                                        else
                                        {
                                            <img class="embed-responsive-item"
                                                 src="http://via.placeholder.com/1920x1080" alt="@movie.Name" />
                                        }
                                    </div>
                                </div>
                                <div class="entity-content">
                                    <h4 class="entity-title">
                                        <a class="content-link" href="#">@movie.Name</a>
                                    </h4>
                                    <div class="entity-category">
                                        <a class="content-link" href="#">@movie.Category.Name</a>
                                    </div>
                                    <div class="entity-info">
                                        <div class="info-lines">
                                            <div class="info info-short">
                                                <span class="text-theme info-icon">
                                                    <i class="fas fa-calendar-alt"></i>
                                                </span>
                                                <span class="info-text">
                                                    @movie.DateTime.ToString("dd MMM yyyy")
                                                </span>
                                            </div>
                                            <div class="info info-short">
                                                <span class="text-theme info-icon">
                                                    <i class="fas fa-ticket-alt"></i>
                                                </span>
                                                <span class="info-text">$@movie.Price</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text-short entity-text">@movie.Description</p>
                                </div>
                            </article>
                        </div>
                    }
                </div>
                <div class="slick-arrows">
                    <div class="slick-arrow-prev">
                        <span class="th-dots th-arrow-left th-dots-animated">
                            <span></span><span></span><span></span>
                        </span>
                    </div>
                    <div class="slick-arrow-next">
                        <span class="th-dots th-arrow-right th-dots-animated">
                            <span></span><span></span><span></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
}